{{#each this}}
  <li class='gallery-item'>
    <div class='movie' id='{{this.id}}'>
      <img
      {{#if this.poster_path}}
        src='https://image.tmdb.org/t/p/w500/{{this.poster_path}}'
      {{else}}
        src='https://image.tmdb.org/t/p/w500/{{this.backdrop_path}}'
      {{/if}}
        alt='{{this.original_title}}'
        class='movie__image'
        data-source=''
      />
      <div class='movie__description'>
        <p class='movie__name'>
          {{#if this.original_title}}
            {{this.original_title}}
          {{/if}}
          {{#if this.original_name}}
            {{this.original_name}}
          {{/if}}
        </p>
        <p class='movie__genres'>{{this.genresShort}}</p>
        <p class='movie__release'> | {{this.release_year}}
      </div>
    </div>
  </li>
{{/each}}


{{!-- найти точно названия полей original name и first air --}}