{{#each this}}
  <li class='gallery-item'>
    <div class='movie' id='{{this.id}}'>
      <img
        src='https://image.tmdb.org/t/p/w500/{{this.poster_path}}'
        alt='{{this.original_title}}'
        class='movie_image'
        data-source=''
        
      />
      <div class='description'>
        <p class='movie_name'>
          {{#if this.original_title}}
            {{this.original_title}}
          {{/if}}
          {{#if this.original_name}}
            {{this.original_name}}
          {{/if}}
        </p>
        <p class='movie_genres'>{{this.genresShort}}</p>
        <p class='movie_release'> | {{this.release_year}}
      </div>
    </div>
  </li>
{{/each}}


{{!-- найти точно названия полей original name и first air --}}