<h2 class="slider-title">Trending movies</h2>
<div class="wrapper">
 <div class="slider">
  {{#each this}}
  <div class="slider__item">

    <button class="button-youtube" data-id="{{this.id}}">
      <div class="button-youtube__overlay" data-id="{{this.id}}">
        <h3 class="button-youtube__title-trailer" data-id="{{this.id}}">Trailer</h3>
      </div>
    </button>

     <img class="slider__image"
     src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}"
     alt="{{this.original_title}}">
     <span class="slider__vote-average">{{vote_average}}</span>
  </div>

  {{/each}}
</div>