<h2 class="slider-title">Trending movies</h2>
<div class="wrapper">
 <div class="slider">
  {{#each this}}
  <div class="slider__item">

    <button class="slider__btn-youtube" data-id="{{this.id}}">
      <span class="btn-youtube__overlay" data-id="{{this.id}}">
        <span class="btn-youtube__title-trailer" data-id="{{this.id}}">Trailer</span>
      </span>
    </button>

     <img class="slider__image"
     src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}"
     alt="{{this.original_title}}">
     <span class="slider__vote-average">{{vote_average}}</span>
  </div>

  {{/each}}
</div>